

<section class="section5">
  <h2 class="text-center"> Contact us for more information </h2>
  <br>
  <form>
    <div class="clearfix">
      <div class="span3"></div>
      <div class="span3">
        <div class="clearfix"> 
          <input class="input-large" placeholder="Company name">
        </div>
        <div class="clearfix">
          <input class="input-large top-5" placeholder="Your full name">
        </div>
        <div class="clearfix">
          <input class="input-large top-5" placeholder="Your title">
        </div>
        <div class="clearfix">
          <input class="input-large top-5" placeholder="Your work email">
        </div>
        
      </div>
      <div class="span3">
        <textarea rows="8" cols="80" placeholder="Questions messages or topics you are interested in..." class="input-large">
</textarea>
      </div>
      
    </div>
    <br>
    <div class="clearfix text-center">
      <a class="btn btn-warning width-small"> Send</a>
    </div>
  </form>
</section>