<%= render :partial => "/shared/topnav" %>
<div class="space"></div>
<div class="container">
	<div class="row">
		<%#= render :partial => "/shared/leftnav" %>
		<div class="span1"></div>
		<div class="span10">
			
			
			<div class=" faq">
				<h1> Have a question? We have the answer. </h1>
				<br><br>
				<h3>Health Outcomes Marketplace</h3>
				<div class="faq-item section-padding">
					<header class="faq-header">
					<h4 class="faq-collapse-open"> What are Jiff and Towers announcing today? </h4>
					</header>
					<div class="faq-content">
						<p> Jiff and Towers are announcing a strategic alliance to jointly provide employers with a new digital health platform that lowers costs and improves health outcomes by empowering employees to better manage their health and wellness and lead healthier lifestyles. Under the alliance, Jiff and Towers Watson will work together to test and market a new digital health offering called the Health Outcomes Marketplace.  </p>
					</div>
				</div>

				<div class="faq-item section-padding">
					<header class="faq-header">
					<h4 class="faq-collapse-open"> What is the Health Outcomes Marketplace? </h4>
					</header>
					<div class="faq-content">
						<p> Built on the Jiff Platform, the Health Outcomes Marketplace is a scalable solution featuring effective and easy-to-use digital health tools and applications that allow employers to deploy consumer-facing health and wellness programs that tie directly to corporate wellness objectives. The combination of Jiff’s technology and Towers  Watson’s health and wellness consulting expertise is designed to help employers implement incentive programs more successfully, and improve and measure outcomes to help them achieve their corporate health and productivity objectives. </p>
					</div>
				</div>

				<div class="faq-item section-padding">
					<header class="faq-header">
					<h4 class="faq-collapse-open"> What does the Health Outcomes Marketplace do? </h4>
					</header>
					<div class="faq-content">
						<p> The Health Outcomes Marketplace allows employers to deploy personalized digital health experiences more quickly and cost effectively; easily connect new applications with their existing information systems; create customized or standard employee wellness programs and incentives; measure employee engagement and outcomes and tie these to incentives and rewards; and view employee wellness programs in real time, across benchmarks of other employers and vendors. </p>
					</div>
				</div>

				<div class="faq-item section-padding">
					<header class="faq-header">
					<h4 class="faq-collapse-open"> How does the Health Outcomes Marketplace Work?  </h4>
					</header>
					<div class="faq-content">
						<p> Employers set their goals, they set an allowance for their employees and, if they want, incentives for goal achievement and Jiff and Towers Watson take care of the rest. The experience is customizable to their company and branding for their corporate wellness programs. Employers can see what is happening in real time and Jiff can make adjustments on the fly that drive the outcomes to the desired goal.  </p>
					</div>
				</div>

				<div class="faq-item section-padding">
					<header class="faq-header">
					<h4 class="faq-collapse-open"> Why is the Health Outcomes Marketplace important?  </h4>
					</header>
					<div class="faq-content">
						<p> The Health Outcomes Marketplace completely shifts the way that employee health and wellness benefits are purchased by removing the administrative, technical and measurement barriers that have driven the current vendor-centric model. No vendor can innovate as fast as the market and the Health Outcomes Marketplace unleashes the power of innovation to accelerate the industry to a more digital and outcomes-driven future. It puts the power of health in the consumers’ hands, aligns it with financial incentives from their employer and combines money from their employer with money the consumer is already spending to drastically increase results.  </p>
					</div>
				</div>


				<div class="faq-item section-padding">
					<header class="faq-header">
					<h4 class="faq-collapse-open"> Why did Towers choose the Jiff Platform? Was Towers in discussion with any other digital health providers? </h4>
					</header>
					<div class="faq-content">
						<p> Towers and Jiff, Inc. have been in conversations for more than a year. Towers was looking for a better and more consumer-driven experience to offer their employer clients and found Jiff’s technology to be a complete departure from the current market offerings. Both decided that the combination of Jiff’s technology and Towers’ benefits program consulting experience made for a very strong match. </p>
					</div>
				</div>

				<div class="faq-item section-padding">
					<header class="faq-header">
					<h4 class="faq-collapse-open"> What roles will Jiff and Towers play in the alliance? </h4>
					</header>
					<div class="faq-content">
						<p> Jiff will provide the technology and technical expertise, while Towers will provide the health services consulting expertise to assist employer implementations. </p>
					</div>
				</div>

				<div class="faq-item section-padding">
					<header class="faq-header">
					<h4 class="faq-collapse-open"> When will you begin to roll out the Health Outcomes Marketplace? </h4>
					</header>
					<div class="faq-content">
						<p> Jiff, Inc. and Towers Watson are already in conversations with several large organizations. </p>
					</div>
				</div>

				<br><br>
				<h3>Jiff Platform</h3>
				<div class="faq-item section-padding">
					<header class="faq-header">
					<h4 class="faq-collapse-open"> What is Jiff launching today? </h4>
					</header>
					<div class="faq-content">
						<p> Jiff is taking from stealthy to shiny and new, a consumer-driven digital health platform for health care organizations and employers. </p>
					</div>
				</div>

				<div class="faq-item section-padding">
					<header class="faq-header">
					<h4 class="faq-collapse-open"> How does the Jiff Platform work? </h4>
					</header>
					<div class="faq-content">
						<p> The HIPAA-compliant Platform lets health plans, wellness program providers and apps and devices connect to the healthcare ecosystem. With the Jiff Platform, these organizations can deploy and scale their health and wellness programs faster, increase revenues, lower costs and improve health outcomes by engaging in collaborative, connected relationships with the consumers they serve. The Jiff Platform’s comprehensive set of tools can be used via the Web and mobile devices. </p>
					</div>
				</div>
				
				<div class="faq-item section-padding">
					<header class="faq-header">
					<h4 class="faq-collapse-open"> Why is the Jiff Platform different? </h4>
					</header>
					<div class="faq-content">
						<p> The Jiff Platform is the first digital health platform to enable health plans and provider organizations to elegantly digitize their clinical programs on an integrated SaaS platform, bringing the beautiful interfaces and experiences consumers have come to expect from the best consumer-focused apps and websites, to their clinical programs. The Jiff Platform also provides guidelines and protocols to all developers and organizations using the Platform: protocols for interface design, social models, guidelines for game mechanics, and a uniquely designed, patent-pending engagement engine. All applications and programs on the Jiff Platform are compatible with each other, and they share a unified backend that enables measurement and display of performance data against outcome objectives through beautiful dashboards in real-time. </p>
					</div>
				</div>


				<div class="faq-item section-padding">
					<header class="faq-header">
					<h4 class="faq-collapse-open"> Why did you develop the Jiff Platform? </h4>
					</header>
					<div class="faq-content">
						<p> Efforts to engage employees in their health and wellness have failed to live up to their promise, largely due to the fragmentation of the systems and initiatives for promoting healthy living and managing wellness, and the failure to develop dynamic experiences that keep the consumer at the core. For example, until Jiff every digital health application and program was being built from scratch, in a silo, and at huge expense. In addition, there are thousands of innovative digital health applications being developed by new companies that are largely disconnected from the entire healthcare system. The Jiff Platform enables organizations to deploy personalized digital health experiences more quickly, easily and cost effectively, while connecting innovative applications to their existing IT infrastructures. </p>
					</div>
				</div>

				<div class="faq-item section-padding">
					<header class="faq-header">
					<h4 class="faq-collapse-open"> What are the advantages to using the Jiff Platform for employers? </h4>
					</header>
					<div class="faq-content">
						<p> Employers can empower their employees to take control of their personal health. With the Jiff Platform, employers can design digital health applications and wellness programs that enable their employees to choose how they want to engage in incentive-based benefits programs and tie everything back to the employer’s corporate objectives reducing costs and improving heath outcomes.  </p>
					</div>
				</div>

				<div class="faq-item section-padding">
					<header class="faq-header">
					<h4 class="faq-collapse-open"> What is Jiff launching today? </h4>
					</header>
					<div class="faq-content">
						<p> Jiff is taking from stealthy to shiny and new, a consumer-driven digital health platform for health care organizations and employers. </p>
					</div>
				</div>

				<div class="faq-item section-padding">
					<header class="faq-header">
					<h4 class="faq-collapse-open"> What are the advantages to using the Jiff Platform for health plans? </h4>
					</header>
					<div class="faq-content">
						<p> The Jiff Platform provides health plans with everything they need to develop exceptional, direct-to-consumer digital health  applications. With Jiff, health pans can quickly scale their programs, connect those programs to popular apps and devices in the personal health ecosystem and more effectively engage with their  consumers or benefits holders as a result.  </p>
					</div>
				</div>

				<div class="faq-item section-padding">
					<header class="faq-header">
					<h4 class="faq-collapse-open"> What are the advantages to using the Jiff Platform for wellness program providers? </h4>
					</header>
					<div class="faq-content">
						<p> Wellness program providers gain access to millions of consumers when they partner with the Jiff Platform by gaining access to dozens of employers looking to leverage Jiff’s Health Outcomes Marketplace to incentivize their employees with a more integrated and consumer-centric wellness program. </p>
					</div>
				</div>

				<div class="faq-item section-padding">
					<header class="faq-header">
					<h4 class="faq-collapse-open"> Who builds the mobile applications available on the Jiff Platform? </h4>
					</header>
					<div class="faq-content">
						<p> Jiff, employers and third-party wellness program and device providers can all develop applications for the Jiff Platform.</p>
					</div>
				</div>

				<div class="faq-item section-padding">
					<header class="faq-header">
					<h4 class="faq-collapse-open"> What apps are available on the Jiff Platform? </h4>
					</header>
					<div class="faq-content">
						<p> The Jiff Platform will be home to some of the best digital health applications in various categories, including: Weight Loss, Activity, Hypertension, Eat Well, Stay Healthy, Medication Adherence, Symptom Checker, Price Transparency and more. Jiff will be announcing these developments and partnerships in the coming weeks. </p>
					</div>
				</div>

				<div class="faq-item section-padding">
					<header class="faq-header">
					<h4 class="faq-collapse-open"> What advantages does using the Jiff Platform provide over using individual apps not integrated on a platform? </h4>
					</header>
					<div class="faq-content">
						<p> One of the challenges to improving health and managing chronic disease  has been fragmentation in the marketplace and disparate initiatives that don’t allow or encourage multiple facets of the healthcare network to communicate. Personal health cannot be managed in a silo. By allowing employees to communicate across multiple channels and enabling those in a person’s network to transfer information in a secure way, health interventions can occur earlier and support systems can be made stronger. Ultimately, this means lower costs and better health outcomes. However, it is Jeff’s goal to connect the most popular apps and devices to the Jiff Platform, so consumer have a choice and can connect their favorite experiences to their employer provided wellness program. </p>
					</div>
				</div>

				<div class="faq-item section-padding">
					<header class="faq-header">
					<h4 class="faq-collapse-open"> Who are your current partners and customers? </h4>
					</header>
					<div class="faq-content">
						<p> The Jiff Platform is initially being rolled out to enterprise customers. This currently includes Towers Watson with several others TBA in the coming weeks. </p>
					</div>
				</div>

				<div class="faq-item section-padding">
					<header class="faq-header">
					<h4 class="faq-collapse-open"> What healthcare advantages does Jiff have over other digital health platforms? </h4>
					</header>
					<div class="faq-content">
						<p> The Jiff Platform was designed and developed by Internet and health care veterans to bring the best in consumer Internet experiences to the best in clinical care. No other platform offers the combination of an integrated approach – allowing old and new data to be shared among multiple sources in a secure way – and a fun, easy-to-use consumer-focused technology experience. For employers, this integrated approach better allows them to measure outcomes and align them to corporate goals. </p>
					</div>
				</div>

				<div class="faq-item section-padding">
					<header class="faq-header">
					<h4 class="faq-collapse-open"> How is user information protected? </h4>
					</header>
					<div class="faq-content">
						<p> The Jiff Platform has a HIPAA-compliant security core, with secure communication and hosting infrastructures; tested and approved by some of the largest health care organizations in the world. </p>
					</div>
				</div>

				<div class="faq-item section-padding">
					<header class="faq-header">
					<h4 class="faq-collapse-open"> Is Jiff currently the only HIPAA-compliant platform in the digital health space?  </h4>
					</header>
					<div class="faq-content">
						<p> The Jiff Platform is not the only HIPAA-compliant platform, but it’s the only HIPAA-compliant Platform that takes an integrated approach to managing health and wellness and uniting the health care ecosystem. </p>
					</div>
				</div>

				<div class="faq-item section-padding">
					<header class="faq-header">
					<h4 class="faq-collapse-open"> What intellectual property does Jiff have? Does Jiff have patents? </h4>
					</header>
					<div class="faq-content">
						<p> Jiff Inc. has developed some really unique technology and does have several patents pending, including the Jiff Platform’s engagement optimization engine, which enables customization and personalization of the best programs and experiences for users dynamically in real time.</p>
					</div>
				</div>

				<div class="faq-item section-padding">
					<header class="faq-header">
					<h4 class="faq-collapse-open"> How does Jiff make money? What is Jiff’s business model? </h4>
					</header>
					<div class="faq-content">
						<p> Jiff makes money through application development on the Jiff Platform for third parties, customer use of the Jiff Platform for their own apps and wellness programs and via the Health Outcomes Marketplace, in which Jiff receives a percentage of each transaction made in the marketplace.</p>
					</div>
				</div>

				<div class="faq-item section-padding">
					<header class="faq-header">
					<h4 class="faq-collapse-open"> Who are your founders? </h4>
					</header>
					<div class="faq-content">
						<p> James Currier and Stan Chudnovsky</p>
					</div>
				</div>

				<div class="faq-item section-padding">
					<header class="faq-header">
					<h4 class="faq-collapse-open"> What’s the platform secret sauce? What core features make it special regardless of the customer? </h4>
					</header>
					<div class="faq-content">
						<p> The engagement optimization engine, which enables customization and personalization of the best programs and experiences for users dynamically in real time, and the Health Outcomes Marketplace, which aligns it with financial incentives from their employer and combines money from their employer with money they are already spending to supercharge results. </p>
					</div>
				</div>
				<br> <br>
				<div class="clearfix" id="contact">
					<h3>Can't find answer here?</h3>
					<div class="row">
						<%= render :partial => "/messages/new" %>
					</div>
				</div>
			</div>
		</div>
		
	</div>
</div>


<script type="text/javascript">
	
  $('.faq-content').hide();
  $('.faq-header').click(function() {
    $(this).parent().children('.faq-content').slideToggle();
    $(this).children('h4').toggleClass('faq-collapse-close'); 
  });
	
</script>
