<%= render :partial => "/shared/topnav" %>

<div class="container about">
  <div class="eula">
    <div class="span1"></div>

    <div class="span9">
      <p class="top-50"></p>

      <h1 class="bottom-10 text-center">Jiff, Inc. Privacy Policy</h1>

      <p class="top-30"></p>

      <p class="top-10">Protecting your privacy is very important to us. Here you will find what information we collect, why we collect it, and what we do with it. JIFF is committed to protecting the privacy and accuracy of confidential information to the extent possible, subject to provisions of state and federal law. </p>

      <h3 class="top-30"> Collection and Use of Personal Information</h3>
      <p class="top-10"> You may be asked to provide personal information about your health when you use the Jiff Applications or are in contact with Jiff and may also be asked to import data from various third party applications, devices, and services, to track your progress and help you reach health and incentive milestones in the JIFF SOFTWARE &amp; SERVICE. Jiff may share this personal information with third parties necessary to help you accomplish your health goals or earn and be paid your incentives. JIFF may also combine it with other information to provide and improve our products, services, content, and advertising.</p>

      <h3 class="top-30"> What personal information we collect</h3>
      <div class="left-50">
	      <ul>
	      	<li> When you create an account and use the JIFF SOFTWARE &amp; SERVICE you are required to provide an email address and password. </li>
	      	<li> Within your JIFF SOFTWARE &amp; SERVICE account, we may collect personal and demographic information you or your employer provide. For some products and services, these details are required as part of your registration process. </li>
	      	<li> We may collect Internet Protocol (IP) address, information about what tools, Application services and other components of the Platform and Application Services you makes use of, as well as information about your progress and completion of programs in the JIFF SOFTWARE &amp; SERVICE.</li>
	      	<li> An identifier that is unique to the device on which you install the App and some device identifiers may be persistent device identifiers, as well as certain SOFTWARE &amp; SERVICE and hardware information about your device.</li>
	      	<li> Domain name of your Internet service provider.</li>
	      	<li> Your geographic location.</li>
	      	<li> Aggregated information that cannot be used to specifically identify you when you visit or use the JIFF SOFTWARE &amp; SERVICE.</li>
	      	<li> Any additional information that you add manually to the JIFF SOFTWARE &amp; SERVICE.</li>
	      	<li> Any information from third party devices, applications and services that you authorize to send information to Jiff.</li>
	      </ul>
      </div>
      <h3 class="top-30"> How we use your personal information</h3>
      <div class="left-50">
	      <ul>
	      	<li> The personal information we collect allows us to successfully implement and provide you with the JIFF SOFTWARE &amp; SERVICE. Collecting this information also helps us administer and moderate the JIFF SOFTWARE &amp; SERVICE.</li>
	      	<li> We also use personal information to help us develop, deliver, understand performance, and improve our JIFF SOFTWARE &amp; SERVICE, and content.</li>
	      	<li>From time to time, we may use your personal information to send important notices, such as providing you with updates regarding JIFF’s SOFTWARE &amp; SERVICE and communicating any changes to our terms, conditions, and policies.</li>
	      	<li>We may also use personal information for internal purposes such as auditing, data analysis, and research to improve JIFF’s SOFTWARE &amp; SERVICE and customer communications. Additionally, this information can be used to perform internal market research, project planning, troubleshooting problems, and to detect and protect against error, fraud or other criminal activity.</li>
	      	<li>If you enter into a sweepstakes, contest, or similar promotion we may use the information you provide to administer those programs.</li>
	      	<li>Enforce the Jiff "Terms of Service".</li>
	      </ul>
	    </div>
      <h3 class="top-30"> Disclosure to Third Parties and Service Providers</h3>
      <p class="top-10">This Privacy Policy addresses our use and disclosure of information we collect from and/or about you from the JIFF SOFTWARE &amp; SERVICE. Information made available through the JIFF SOFTWARE &amp; SERVICE to Authorized Providers is required to be used by such entities in accordance with all applicable laws, including the Health Insurance Portability and Accountability Act ("HIPAA"). If you disclose information to others, including, for example, a partner providing goods and services, different rules may apply to their use or disclosure of the information you disclose to them. The use and disclosure restrictions contained in this Privacy Policy will not apply to any third party. We do not control the privacy policies of third parties, and you are subject to the privacy policies of those third parties where applicable.</p>

      <p class="top-10">When you click on links on the Site you may leave our site. We are not responsible for the privacy practices of other sites, and we encourage you to read their privacy statements.</p>

      <p class="top-10"> Jiff may provide your Employer on an ongoing basis with data necessary to enable your Employer to manage incentive, reward, and wellness programs, but such disclosure will be in accordance with all laws including the Health Insurance Portability and Accountability Act ("HIPAA").</p>

      <p class="top-10"> If you order a device, application, or service on the JIFF SOFTWARE &amp; SERVICE, Jiff may provide your personal information with companies who sell the respective device, application or service. Your name and contact information may be shared with these companies, but no payment information will be shared with them. </p>

      <p class="top-10">Jiff may share personal information with companies who provide services such as information processing, fulfilling customer orders, delivering products to you, managing and enhancing customer data, providing customer service, assessing your interest in our products and services, and conducting customer research or satisfaction surveys. These companies are obligated to protect your information wherever Jiff operates.</p>

      <p class="top-10">It may be necessary − by law, legal process, litigation, and/or requests from public and governmental authorities within or outside your country of residence – to disclose your personal information. We may also disclose information about you if we determine that for purposes of national security, law enforcement, or other issues of public importance, disclosure is necessary or appropriate.</p>

      <p class="top-10">We may also disclose information about you if we determine that disclosure is reasonably necessary to enforce our Terms of Service or protect our operations or users.</p>

      <h3 class="top-30">Internet Protocol Address:</h3>
      <p class="top-10">
			    We collect an IP address from all visitors to our website. An IP address is a number that is automatically assigned to your computer when you use the
			    Internet. We use IP addresses to help us diagnose problems with our server, administer our website, analyze trends, and gather broad demographic
			    information for aggregate use to improve our site, and deliver customized, personalized content. IP addresses are not linked to personally identifiable
			    information.
			</p>
			<h3 class="top-30">
			    How Jiff uses cookies
			</h3>
			<p class="top-10">
			    When you visit any website, its server may generate a piece of text known as a "cookie" to place on your computer. The cookie allows the server to
			    "remember" specific information about your visit while you are connected. The cookie makes it easier for you to use the dynamic features of Web pages.
			    Cookies from Jiff pages collect only information about your browser’s visit to the site. They do not collect personal information about you.
			</p>
			<h3 class="top-30">
			    Use of Aggregated Anonymous User Data
			</h3>
			

			<p class="top-10">
			    Jiff may use your Personal Information in ways that you are not individually identified, and provide that information to our partners. We may also provide
			    aggregate usage information to our partners, who may use such information to understand how often and in what ways people use the JIFF SOFTWARE &amp;
			    SERVICE, so that they, too, can provide you with an optimal online experience. However, we never disclose aggregate information to a partner in a manner
			    that would identify you personally, as an individual. In the case of account deletion or cancellation, some information may remain in our records after the
			    deletion of your account. Jiff may use any aggregated data derived from or incorporating your Personal Information after you update or delete it, but not
			    in a manner that would identify you personally.
			</p>
			<h3 class="top-30">
			    User Profiles and Submissions
			</h3>
			<p class="top-10">
			    Certain user profile information, including your name, location, and any video or image content that such user has uploaded to the JIFF SOFTWARE &amp;
			    SERVICE, may be displayed to other users to facilitate user interaction within the JIFF SOFTWARE &amp; SERVICE. Your account privacy settings may allow you
			    to limit the other users who can see the Personal Information in your user profile and/or what information in your user profile is visible to others.
			    Please remember that any content you upload to your public user profile, along with any Personal Information or content that you voluntarily disclose
			    online in a manner other users can view (on discussion boards, in messages and chat areas, etc.) becomes publicly available, and can be collected and used
			    by others. JIFF reserves the right to delete any comments it deems inappropriate, at JIFF sole discretion. Your user name may also be displayed to other
			    users if and when you send messages or comments or upload images or videos through the JIFF SOFTWARE &amp; SERVICE and other users can contact you through
			    messages and comments. JIFF does not control the policies and practices of any other third party site or service.
			</p>
			<h3 class="top-30">
			    Business Changes
			</h3>
			<p class="top-10">
			    If JIFF Is acquired, Personal Information could be one of the assets transferred to or acquired by a third party.
			</p>
			<h3 class="top-30">
			    Security
			</h3>
			<p class="top-10">
			    Your account is protected by a password for your privacy and security. You must prevent unauthorized access to your account and Personal Information by
			    selecting and protecting your password and/or other sign-on mechanism appropriately and limiting access to your computer or device and browser by signing
			    off after you have finished accessing your account.
			</p>
			<p>
			    We endeavor to protect the privacy of your account and other Personal Information we hold in our records. We employ SSL to encrypt communications between
			    our servers and client applications, and do our best to protect our servers so third parties can't access your private information. However, we cannot
			    guarantee complete security — unauthorized entry or use, hardware or software failure, and other factors, may compromise the security of user information
			    at any time.
			</p>
			<p>
			    Under California Civil Code Sections 1798.83-1798.84, California residents are entitled to ask us for a notice identifying the categories of Personal
			    Information, which we share with our third parties for marketing purposes, and providing contact information for third parties. If you are a California
			    resident and would like a copy of this notice, please submit a written request to: support@jiff.com.
			</p>
			<p class="top-50">
			    JIFF CONTACT INFORMATION. you may direct questions, complaints or claims regarding the Jiff SOFTWARE &amp; SERVICE to 644 Emerson Street, Suite 210, Palo
			    Alto, CA 94301, email: support@jiff.com, phone: +1-650-323-3500.
			</p>
			<p class="top-50">
			    Date of Last Revision: October 2013
			</p>
    </div>
  </div>
</div>