<%= render :partial => "/shared/topnav" %>

<div class="container about">
  <div class="eula">
    <div class="span1"></div>

    <div class="span9">
      <p class="top-50"></p>

      <h1 class="bottom-10 text-center">JIFF Inc. Terms of Service  </h1>

      <p class="top-30"></p>

      <p class="top-10">THIS TERMS OF SERVICE AGREEMENT SETS FORTH THE TERMS OF AN END USER AGREEMENT ("AGREEMENT") BETWEEN JIFF, INC. ("JIFF") AND THE INDIVIDUAL USER ("USER") WHO DOWNLOADS, INSTALLS OR USES THE JIFF SOFTWARE PRODUCT OR PRODUCTS (“JIFF SOFTWARE”). THIS IS AN AGREEMENT BETWEEN THE USER AND JIFF AND NOT ANY OTHER THIRD PARTY, NOT ANY SUBSIDIARY, NOT ANY AFFILIATE OF ANY OTHER THIRD PARTY TO THIS AGREEMENT.  BY DOWNLOADING, INSTALLING OR USING THE JIFF SOFTWARE, USER ACCEPTS THE TERMS AND CONDITIONS CONTAINED IN THIS AGREEMENT, ACKNOWLEDGES THAT USER HAS READ THIS AGREEMENT, UNDERSTANDS IT, AND AGREES TO BE BOUND BY IT. IF THE USER DOES NOT AGREE TO THESE TERMS AND CONDITIONS THEN USER SHOULD NOT DOWNLOAD, INSTALL OR USE THE JIFF SOFTWARE AND THE USER IS NOT GRANTED RIGHTS TO USE THE JIFF SOFTWARE. BY USING THE JIFF SOFTWARE IN ANY WAY MEANS THE USER AGREES TO THESE TERMS.</p>

      <ol>
          <li>
              <h4>LICENSE</h4>

              <p class="top-10">During the term of this Agreement, JIFF grants the USER (as defined above) a limited, non-exclusive, non-transferable, non-sub licensable license to download, install and operate the JIFF SOFTWARE, including any updates, upgrades or other new features, functionality or enhancements to the JIFF SOFTWARE made available to the USER, solely: (a) on a mobile electronic device(s) owned or controlled by USER, (b) in connection with the Internet-based web application, interactive services provided by JIFF, (c) for USERS’s own personal, professional and entertainment purposes, (d) fully in accordance with the terms and conditions set forth in this Agreement, (e) fully in accordance with any terms of service or usage restrictions by any third-party service provider, such as a wireless service provider, (f) only as permitted by the Usage Rules set forth in other Third Party Company’s Terms of Service. USERS represent and warrant that USER is of legal age to form a binding contract.  JIFF SOFTWARE is not directed to children and children are not eligible to use JIFF SOFWARE.</p>
          </li>

          <li>
              <h4>RESTRICTIONS</h4>

              <ol>
                  <li>The JIFF SOFTWARE may be used only by the USER in accordance with the terms and conditions of this Agreement. This Agreement does not allow for use of the JIFF SOFTWARE by anyone other than the USER. USER may not copy, modify, publish, distribute or transfer the JIFF SOFTWARE, or any copy thereof, in whole or in part. USER may not reverse engineer, disassemble, decompile, or translate the JIFF SOFTWARE, or otherwise attempt to derive the source code the JIFF SOFTWARE, or authorize any other third party to do any of the foregoing. USER is prohibited from developing, selling or distributing applications that are capable of launching, being launched from, or are otherwise integrated with, the JIFF SOFTWARE without the prior, express written consent of JIFF.</li>

                  <li>USER may not rent, lease, loan, resell for profit, distribute, sublicense or use in a time-sharing or service bureau arrangement the JIFF SOFTWARE, or any part thereof.  USER represents, warrant, and agree that USER will not contribute any Content or USER Submission or otherwise use the JIFF SOFTWARE or interact with the JIFF SOFTWARE in a manner that: a) Infringes or violates the intellectual property rights or any other rights of anyone else; b) Violates any law or regulation; c) Is harmful, fraudulent, deceptive, threatening, harassing, defamatory, obscene, or otherwise objectionable; d) Jeopardizes the security of your JIFF SOFTWARE account or annoys other USERS (such as allowing someone else to log on as you on the JIFF SOFTWARE); e) Attempts, in any manner, to obtain the password, account, or other security information from any other USER; i) Copies or stores any significant portion of the Content; A violation of any of the foregoing is grounds for termination of USERs right to use or access the JIFF SOFTWARE.
                  </li>
              </ol>
          </li>

          <li>
              <h4>OWNERSHIP</h4>

              <p class="top-10">The JIFF SOFTWARE is the property of JIFF or its licensor(s) and is protected by copyright and other intellectual property laws. The JIFF SOFTWARE is licensed, not sold, to USER for use only under the terms of this Agreement and all rights not expressly granted to USER are reserved by JIFF.  User understands that JIFF owns JIFF SOFTWARE.  USER won’t modify, publish, transmit, participate in the transfer or sale of, reproduce, creative derivative works based on, or otherwise exploit any of the JIFF SOFTWARE.</p>
          </li>

          <li>
              <h4>INTELLECTUAL PROPERTY</h4>

              <p class="top-10">In the event of a third-party claim that the JIFF SOFTWARE or the USER’s possession and use of the JIFF SOFTWARE infringes such third-party’s intellectual property rights, JIFF and not any other third party, is responsible for the investigation, defense, settlement and discharge of any such intellectual property infringement claim.</p>
          </li>

          <li>
              <h4>SUPPORT</h4>

              <p class="top-10">Support for the JIFF SOFTWARE is available at www.jiff.com or by emailing support@jiff.com. Other third party applications, devices and services that connect to the JIFF SOFTWARE supply support on their products and services, but have no obligation whatsoever to furnish any maintenance or support services with respect to the JIFF SOFTWARE.</p>
          </li>

          <li>
              <h4>WARRANTY; DISCLAIMER</h4>

              <ol>
                  <li>Warranty. JIFF does not warrant that any features, information, pictures, or graphic depictions, descriptions or other content in the JIFF SOFTWARE are accurate, complete, reliable, updated, current, or error-free.  USER agrees to notify JIFF if USER becomes aware of any errors or inconsistencies in the information or content provide through the JIFF SOFTWARE and comply with any corrective action taken by JIFF.</li>

                  <li>DISCLAIMER. THE JIFF SOFTWARE IS PROVIDED TO USER "AS IS." EXCEPT AS EXPRESSLY PROVIDED UNDER THIS AGREEMENT, JIFF AND ITS AFFILIATES, AGENTS AND LICENSORS CANNOT AND DO NOT WARRANT THE ACCURACY OR COMPLETENESS OF THE JIFF SOFTWARE. IN ADDITION, NEITHER JIFF NOR ITS LICENSORS PROVIDE ANY REPRESENTATION OR WARRANTY WITH RESPECT TO RESULTS OBTAINED FROM USE OF THE JIFF SOFTWARE JIFF EXPRESSLY DISCLAIMS ALL WARRANTIES AND REPRESENTATIONS, EXPRESS, IMPLIED OR STATUTORY, INCLUDING WITHOUT LIMITATION THE IMPLIED WARRANTIES OR CONDITIONS OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT. ANY MATERIAL OR DATA OBTAINED THROUGH USE OF THE JIFF SOFTWARE IS AT USER'S OWN DISCRETION AND RISK AND USER UNDERSTANDS THAT IT WILL BE SOLELY RESPONSIBLE FOR ANY RESULTING DAMAGE, INCLUDING BUT NOT LIMITED TO USER'S COMPUTER SYSTEM OR MOBILE DEVICE, OR LOSS OF DATA.  THE LAWS OF SOME JURISDICTIONS DO NOT PERMIT WAIVERS OF CERTAIN WARRANTIES, SO PORTIONS OF THE ABOVE DISCLAIMER MAY NOT APPLY THE USER. IN THE EVENT JIFF CANNOT WAIVE ANY WARRANTY, THE DURATION AND SCOPE OF SUCH WARRANTY WILL BE THE MINIMUM PERMITTED UNDER APPLICABLE LAW.</li>

                  <li>PRODUCT CLAIMS. USER understands and acknowledges that JIFF, and not any other third party, is responsible for addressing any claims made by USER or third parties relating to the JIFF SOFTWARE, including, but not limited to: (i) product liability claims, (ii) any claim that the JIFF SOFTWARE fails to conform to any applicable legal or regulatory requirement, and (iii) claims arising under consumer protection or similar legislation.  (iiii) claims arising from effectiveness, assumptions of benefit or any claims arising due to wellness program effectiveness or overall USER health.</li>
              
                  <li>DISCLAIMER. NOT A SUBSTITUTE FOR PROFESSIONAL HEALTHCARE.  THE JIFF SOFTWARE AND ANY INFORMATION CONTAINED ON OR MADE AVAILABLE THROUGH THE JIFF SOFWARE ARE PROVIDED “AS IS” AND “AS AVAILABLE” WITH NO WARRANTIES WHATSOEVER. YOUR USE OF THE SERVICE IS VOLUNTARY AND AT YOUR SOLE RISK.  ANY HEALTH-RELATED NFORMATION AVAILABLE THROUGH THE JIFF SOFWARE IS GENERAL IN NATURE AND IS NOT A SUBSTITUTE FOR PROFESSIONAL HEALTHCARE. IT IS PROVIDED FOR INFORMATIONAL AND ENTERTAINMENT PURPOSES ONLY AND IS NOT INTENDED, AND SHOULD NOT BE USED, TO REPLACE THE ADVICE OF HEALTHCARE.</li>
              </ol>
          </li>

          <li>
              <h4>LIMITATION OF LIABILITY &amp; INDEMNIFICATION</h4>

              <ol>
                  <li>LIMITATION OF LIABILITY.  NEITHER JIFF NOR ITS AFFILIATES, AGENTS OR LICENSORS, SHALL BE LIABLE TO THE USER OR ANYONE ELSE FOR SPECIAL, INCIDENTAL, INDIRECT OR CONSEQUENTIAL DAMAGES, INCLUDING, WITHOUT LIMITATION, DAMAGES DUE TO LOST PROFITS OR BUSINESS INTERRUPTION, EVEN IF JIFF, ITS AFFILIATES, AGENTS OR LICENSORS HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH LOSS OR DAMAGES AND WHETHER OR NOT SUCH LOSS OR DAMAGES IS/ARE FORESEEABLE AND NOTWITHSTANDING THE FAILURE OF ESSENTIAL PURPOSE OF ANY LIMITED REMEDY. THE LAWS OF SOME JURISDICTIONS DO NOT PERMIT THE DISCLAIMER OF LIABILITY FOR CERTAIN TYPES OF DAMAGES, SO PORTIONS OF THE ABOVE MAY NOT APPLY TO THE USER.</li>

                  <li>INDEMNIFICATION. TO THE FULLEST EXTENT PERMITTED BY LAW, THE USER AGREES TO INDEMNIFY, DEFEND AND HOLD HARMLESS JIFF AND ITS OFFICERS, DIRECTORS, EMPLOYEES, AGENTS AND LICENSORS FROM AND AGAINST ALL CLAIMS, ACTIONS LIABILITIES, LOSSES, EXPENSES, DAMAGES AND COSTS (INCLUDING, WITHOUT LIMITATION, REASONABLE ATTORNEYS' FEES) ("CLAIMS") THAT MAY AT ANY TIME BE INCURRED BY ANY OF THEM BY REASON OF ANY CLAIMS, SUITS OR PROCEEDINGS ARISING FROM (I) THE USER'S USE OF THE JIFF SOFTWARE, (II) USE OF USER CONTENT AND/OR (III) ANY BREACH BY USER OF ANY REPRESENTATION, WARRANTY OR OBLIGATION HEREUNDER.</li>
              </ol>
          </li>

          <li>
              <h4>TRADEMARKS</h4>

              <ol>
                  <li>TRADEMARKS.  Certain of the names, logos, and other materials displayed on or by the JIFF SOFTWARE may constitute trademarks, tradenames, service marks or logos ("Marks") of JIFF or other entities. You are not authorized to use any such Marks. Ownership of all such Marks and the goodwill associated therewith remains with us or those other entities.</li>
              </ol>
          </li>

          <li>
              <h4>TERM; TERMINATION</h4>

              <ol>
                  <li>TERM. This Agreement shall continue in effect unless and until terminated by JIFF and/or USER in accordance with this Section 8.1 or 9.5. JIFF may terminate this Agreement upon written notice to the USER due to material breach of this Agreement by USER and USER may terminate this Agreement upon written notice to JIFF. </li>

                  <li>EFFECT OF TERMINATION. Upon termination of this Agreement, USER shall have no right to use, in any way, the JIFF SOFTWARE. Sections 3, 6, 7, 8 and 9 shall survive any termination of this Agreement.</li>

                  <li> USER may delete your Account and end registration at any time, for any reason by sending an email to <a ref="mailto:support@JIFF.com">support@JIFF.com</a>. JIFF may terminate the USER access of the JIFF SOFTWARE for any reason at any time. You understand that termination of your agreement with JIFF pursuant to these Terms.  Upon termination, regardless of reason USER can request an electronic copy of USERs Data within a period of 30 days after termination.  Request must be placed in writing and sent via email to support@jiff.com.</li>
              </ol>
          </li>

          <li>
              <h4>LINKS</h4>

              <ol>
                  <li>JIFF SOFTWARE or third parties may provide links to other websites or resources. Because JIFF has no control over, do not review such sites and resources, you acknowledge and agree that JIFF is not responsible for the availability of such external sites or resources and does not endorse and is not responsible or liable for any content, advertising, products, services or other materials on or available from such sites or resources. Access to any other websites linked in the JIFF SOFTWARE is at USERS own risk.  When leaving the JIFF SOFTWARE you should carefully review the applicable terms and policies, including privacy and data gathering practices, of that third-party website. JIFF WILL NOT BE LIABLE FOR ANY INFORMATION, SOFTWARE, OR LINKS FOUND AT ANY OTHER WEBSITE, INTERNET LOCATION, OR SOURCE OF INFORMATION, NOR FOR YOUR USE OF SUCH INFORMATION, SOFTWARE OR LINKS, NOR FOR THE ACTS OR OMISSIONS OF ANY SUCH WEBSITES OR THEIR RESPECTIVE OPERATORS.</li>
              </ol>

          </li>

          <li>
              <h4>CHANGES TO SOFTWARE</h4>

              <ol>
                  <li>JIFF reserves the right to modify or discontinue, temporarily or permanently, the JIFF SOFTWARE or any service to which it connects, with or without notice and without liability to the USER. </li>
              </ol>

          </li>

          <li>
              <h4>LEGAL COMPLIANCE</h4>
              <ol>
                  <li>USER represents and warrant that you are not: (a) located in a country that is subject to a U.S. Government embargo, or that has been designated by the U.S. Government as a “terrorist supporting” country; and (b) listed on any U.S. Government list of prohibited or restricted parties, including, but not limited to, the Specially Designated Nationals List. </li>
              </ol>
          </li>

          <li>
              <h4>PRIVACY AND PROTECTION OF PERSONAL INFORMATION</h4>
              <ol>
                  <li>By using the Software, you agree that JIFF may collect, use and disclose certain information about you pursuant to JIFF’s Privacy Policy located at: <a href="http://www.jiff.com/privacy">http://www.jiff.com/privacy</a>. JIFF Services contain information, and other federal and state laws or regulations. By using these Services, you agree to be bound by, and comply with, all applicable current laws and regulations, and as amended, as well as future laws and regulations. </li>
              </ol>
          </li>

          <li>
              <h4>GENERAL</h4>
              <ol>
                  <li>GOVERNING LANGUAGE AND LAW. This Agreement shall be governed by and interpreted in accordance with the laws of the State of California exclusively; in the same manner as such laws apply to contracts between California residents performed entirely within California. The Application of the United Nations Convention on Contracts for the International Sale of Goods is expressly excluded. </li>
                  <li>EXPORT CONTROLS. The JIFF SOFTWARE may not be downloaded or otherwise exported or re-exported: (i) into (or to a national or resident of) any country that is subject to a U.S. Government embargo or has been designated by the U.S. Government as a “terrorist supporting” country; or (ii) to anyone on the U.S. Treasury Department’s list of Specially Designated Nationals or the U.S. Commerce Department’s Table of Deny Orders. By downloading or using the JIFF SOFTWARE or documentation, USER agrees to the foregoing and represents and warrants that USER: (a) is not located in, under the control of, or a national or resident of any such country or on any such list, (b) are not listed on any U.S. Government list of prohibited or restricted parties, and (c) you agree to comply with all export laws and other applicable laws.</li>
                  <li>U.S. GOVERNMENT USERS. The JIFF SOFTWARE and documentation each were developed by private financing and constitute “Commercial Items” as that term is defined at 48 C.F.R. §2.101. The JIFF SOFTWARE consists of “Commercial Computer Software” and “Commercial Computer Documentation” as such terms are used in 48 C.F.R. §12.212. Consistent with 48 C.F.R. §12.212 and 48 C.F.R. §§227.7202-1 through 227.7202-4, all U.S. Government USERs acquire only those rights in the JIFF SOFTWARE and documentation that are specifically provided by this Agreement. Consistent with 48 C.F.R. §12.211, all U.S. Government USERs acquire only technical data and the rights in that data customarily as specifically provided in this Agreement.</li>
                  <li> WAIVER. The failure of either party to require performance by the other party of any provision hereof shall not affect the full right to require such performance at any time thereafter; nor shall the waiver by either party of a breach of any provision hereof be taken or held to be a waiver of the provision itself.</li>
                  <li>ASSIGNMENT; CHANGE OF CONTROL. Neither this Agreement nor any rights or obligations of USER hereunder may be assigned or delegated by USER in whole or in part without the prior written approval of JIFF. Any assignment or delegation in derogation of the foregoing shall be null and void. This Agreement shall survive and may be assigned by JIFF upon a change of control of JIFF or in connection with any sale or transfer of assets to which this Agreement relates.</li>
                  <li> SEVERABILITY. In the event any provision of the Agreement is held to be invalid or unenforceable, the remaining provisions of the Agreement will remain in full force and effect so long as a party's rights under this Agreement are not materially affected.</li>
                  <li> COMPLETE AGREEMENT. This Agreement is the complete and exclusive statement of the agreement between JIFF and USER which supersedes any proposal or prior agreement, oral or written, and any other communications between the parties in relation to the subject matter of this Agreement.</li>
                  <li>JIFF CONTACT INFORMATION. USER may direct questions, complaints or claims regarding the JIFF SOFTWARE to 644 Emerson Street, Suite 210, Palo Alto, CA 94301, email: support@JIFF.com, phone: +1-650-323-3500.</li>
                  <li> THIRD PARTY SOFTWARE. USER acknowledges that the JIFF SOFTWARE may contain copyrighted software of JIFF’s suppliers, which were obtained under a license from such suppliers (“Third Party Software”). All third party licensors and suppliers retain all right, title and interest in and to such Third Party Software and all copies thereof, including all copyright and other intellectual property rights. USER’s use of any Third Party Software shall be subject to, and USER shall comply with, the terms and conditions of this Agreement and the applicable restrictions and other terms and conditions set forth in any Third Party Software documentation or printed materials, including without limitation and end USER license agreement. Subject to the foregoing, the Third Party Software includes certain open source software (“Open Source Software”).</li>
              </ol>
          </li>
      </ol>

      <p class="top-50">Date of Last Revision: October 2013</p>
    </div>
  </div>
</div>